@using BudgetPlanner.Models

@model Categories


<form method="post" asp-action="CategoryGoals">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Enter Category</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label >Category</label>
			<input asp-for="CategoryName" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
		
	</div>
</form>

